<section class="my-20 container">
  <h3 i18n class="text-3xl text-white text-center mb-10">قيم الشركة</h3>
  <div class="flex flex-wrap justify-center gap-10">
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        webhook
      </span>
      <p i18n class="text-xl">التطوير المستمر</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        handshake
      </span>
      <p i18n class="text-xl">الربح للجانبين</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        emoji_objects
      </span>
      <p i18n class="text-xl">الابتكار</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        diversity_3
      </span>
      <p i18n class="text-xl">الانضباط</p>
    </div>
    <div class="section p-5 flex flex-col justify-center items-center">
      <span class="material-symbols-outlined text-9xl text-teal-500">
        social_leaderboard
      </span>
      <p i18n class="text-xl">الكفاءة</p>
    </div>
  </div>
</section>
