<section class="mt-20 container">
  <div class="section py-10 grid grid-cols-1 md:grid-cols-2">
    <div class="container flex flex-col gap-10">
      <h3 i18n class="text-white text-3xl">رؤيتنا ومهمتنا</h3>
      <p i18n>
        تقديم رؤية لمستقبل التكنولوجيا في المملكة العربية السعودية. تقديم أحدث
        الحلول العلمية والتقنية لمساعدة عملائنا في أعمالهم ودعم اقتصاد المملكة
        من خلال توفير أحدث التقنيات والحلول.
      </p>
      <div>
        <a routerLink="/contact-us"
          ><button class="main-button" i18n>تواصل معنا</button></a
        >
      </div>
    </div>
    <div class="relative w-full h-full">
      <img ngSrc="assets/images/about_eye.png" alt="Eye" fill />
    </div>
  </div>
</section>
