<section class="container mt-20">
  <div class="section grid grid-cols-1 md:grid-cols-2">
    <div class="py-10 container flex flex-col gap-10">
      <h3 class="text-3xl text-white" i18n>عن الشركة</h3>
      <p i18n>
        شركة سعودية تعمل في مجال التقنية والمعلومات من خلال استخدام تقنيات
        الذكاء الاصطناعي والرؤية الحاسوبية واستخدام الروبوتات وتوفير تجربة
        الواقع المعزز وعلوم البيانات واكتساب المخرجات من خلال إجراءات معينة تم
        إنشاؤها وفقًا لسير العمل وتركيب خدمات الشبكات والاتصالات وأنظمة مراقبة
        الكاميرات وتقديم خدمات الأمن السيبراني.
      </p>
      <div>
        <a routerLink="/about-us"><button i18n>اعرف أكثر</button></a>
      </div>
    </div>
    <div class="relative w-full h-full hidden md:flex">
      <img
        ngSrc="assets/images/home_world.svg"
        alt="Hands around the world"
        fill
      />
    </div>
  </div>
</section>
